*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1rem;
    font-family: sans-serif;
}

h3{
    margin: 1rem 0;
}
.incremental-input{
    display: flex;
}

input{
    width: 70px;
    border: 1px solid rgb(190, 188, 188);
    padding: 0 5px;
}

.btn{
    padding: 8px 12px;
    border: none;
    border-radius: 0 5px 5px 0;
}

.btn-dec{
    border-radius: 5px 0 0 5px;
    
}